{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid mt-2 mb-1">
            <a class="navbar-brand" href="{% url 'perusahaan:perusahaan' %}">Perusahaan</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'sekolah:sekolah' %}">Sekolah</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'siswa:siswa' %}">Siswa</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="container mt-5">
        <div class="row">
            <div class="">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">No</th>
                            <th scope="col">Nama</th>
                            <th scope="col">Kategori</th>
                            <th scope="col">Bidang</th>
                            <th scope="col">alamat</th>
                            <th scope="col">Nama PIC</th>
                            <th scope="col">Jabatan</th>
                            <th scope="col">No Telp</th>
                            <th scope="col">Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for x in perusahaan %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ x.nama }}</td>
                            <td>{{ x.kategori }}</td>
                            <td>{{ x.bidang }}</td>
                            <td>{{ x.alamat }}</td>
                            <td>{{ x.nama_pic }}</td>
                            <td>{{ x.jabatan }}</td>
                            <td>{{ x.no_telp }}</td>
                            <td>{{ x.email }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <script src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>
</body>

</html>